body{
  margin: 0px;
}
.header{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  /* background-color: aqua; */
  z-index: 100;
}
.header img{
  margin-left: 2vw;
  width: 6vw;
}
.navigation{
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
}
.navigation li{
  display: flex;
  align-items: center;
  padding: 2vh 5vh;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.35s;
}
.navigation li:hover {
  cursor: pointer;
  background-color: gray;
}

.background-image{
  position: relative;
  height: 80vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}